<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Agreement</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container-fluid">
      <h4>
        <strong>END USER LICENCE AGREEMENT</strong>
      </h4>
      <br />
      <br />

      <h5>
        <strong>
          <u>PLEASE NOTE:</u>
        </strong>
      </h5>

      <br />

      <p>
        The information and services available through our App are provided for
        the sole purpose of job seekers looking for employment opportunities and
        for employers seeking to recruit staff. As an individual user, the
        information about employment opportuniti es made available to you
        through the Services is confidential information – as is your personal
        data which we hold.
      </p>

      <br />

      <p>
        Any use of our confidential information to apply for a job, other than
        through our services, or those of our partners, consti tutes a serious
        breach of confidentiality. We take such offences extremely seriously and
        the damage they have on our business. Consequently, where necessary, we
        will pursue action to claim any losses we suffer as a result of any
        breaches of confidence by you.
      </p>

      <br />

      <p>
        Any details of jobs available through our Services are provided to us by
        third parties for your information only. Whilst we review content
        available on the Services we give no warranties or representations as to
        their accuracy or completeness.
      </p>

      <br />

      <p>
        <strong>Submitting your details to the Service</strong>
      </p>
      <p>
        You are solely responsible for all communications, postings,
        representations and actions made through the use of the App (including
        in relation to your availability and salary expectations). Based on the
        preferences you provide and the information and representations you make
        and upload using the App, our Services identifies when your profile
        meets an employer’s published requirements. Where you express an
        interest for a particular vacancy, the respective employer will then
        have access to your Profile and will be able to see the data you have
        provided within your Profile and through the vacancy application screen.
        This may result in an application being presented to the employer,
        without any further communication between you and us, or between us and
        the prospective employer. In any event, employers may also access your
        data on an anonymised basis through their own account. You acknowledge
        that your details and any application that you make may not be made
        available to our clients where the details you have provided (including
        in relation to your availability and salary expectations) do not meet an
        employer’s requirements.
      </p>
      <br />
      <p>
        <strong
          >We recommend that you confirm all job details with your Recruitment
          Consultant or contact at Pertemps Medical before undertaking any
          placement.</strong
        >
      </p>
      <br />
      <h5>
        <strong>
          <u>YOUR PROFILE</u>
        </strong>
      </h5>
      <p>
        Your profile details are compiled from the information you submit on
        your registration with Pertemps Medical. You agree to ensure that the
        details provided by you on registration are kept updated are true,
        accurate, current and complete and you warrant that you have not
        misrepresented yourself and/or your intended use of our Services .
      </p>
      <br />
      <p>
        It is your responsibility to update your information and inform us of
        any changes to your details. At our sole discretion, we may refuse your
        application for registration and your access to the App at any time
        without liability.
      </p>
      <br />
      <p>
        You must keep Your account username and password combination secret and
        secure. We will not be liable for any unauthorised use of Your account
        and You will remain solely responsible for any activity occurring under
        Your account. You must notify Us immediately if You believe Your account
        has been compromised or subject to unauthorised use.
      </p>
      <br />
      <br />
      <h5>
        <strong>
          BY DOWNLOADING THE APP YOU AGREE TO THESE TERMS WHICH WILL BIND YOU.
          IF YOU DO NOT AGREE TO THESE TERMS DO NOT DOWNLOAD OR MAKE ANY USE OF
          THE APP. BY CLICKING ON THE “ACCEPT” BUTTON BELOW YOU AGREE TO THESE
          TERMS WHICH WILL BIND YOU.
        </strong>
      </h5>
      <br />
      <p>
        This End User Licence Agreement (
        <strong>“EULA”</strong>) is an agreement between You and Pertemps
        Medical Limited ( <strong>“Pertemps”</strong>) a UK corporation with its
        principal place of business at Meriden Hall Main Road, Meriden,
        Coventry, CV7 7PT and governs Your Use of Pertemps’ proprietary mobile
        application software and third party proprietary mobile application
        software.
      </p>
      <br />
      <p>
        <strong>Support.</strong> If you want to learn more about the App or
        Service or have any problems using them, please take a look at our
        support resources within our App
      </p>
      <p>
        <strong> How we will communicate with you.</strong> If we have to
        contact you in respect to the App we will do so by e-mail, SMS or
        telephone using the details you have provided us.
      </p>
      <br />
      <h5>
        <strong>
          1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DEFINITIONS
        </strong>
      </h5>
      <p>
        <strong>“You”</strong> and <strong>“Your”</strong> means the individual
        or legal entity licensing the App under this EULA.
      </p>
      <p>
        <strong>“Use”</strong> and <strong>“Using”</strong> means to download,
        install, activate, access or otherwise use the App.
      </p>
      <p>
        <strong>“App”</strong> means the Pertemps Live mobile application, the
        data supplied with the software and any Upgrades made available to You
        and licensed to You through by Pertemps.
      </p>
      <p>
        <strong>“Documentation”</strong> means any related online documentation,
        manuals, specifications or other applicable materials for the App and
        made available to You by Pertemps.
      </p>
      <p>
        <strong>“Service”</strong> means the service you connect to via the App
        and the content Pertemps provides you with through it.
      </p>
      <p>
        <strong>“Upgrades”</strong> means all updates, upgrades, bug fixes,
        error corrections, enhancements and other modifications to the App and
        App and backup copies thereof.
      </p>
      <br />
      <h5>
        <strong>
          2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHO THESE TERMS APPLY TO
        </strong>
      </h5>
      <p>
        2.1&nbsp;&nbsp;&nbsp;This EULA is applicable to anyone who uses the
        Pertemps Live App.
      </p>
      <p>
        2.2&nbsp;&nbsp;&nbsp;By Using the App, You, agree to be bound by the
        terms of this EULA.
      </p>
      <br />
      <h5>
        <strong>
          3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LICENCE
        </strong>
      </h5>
      <p>
        3.1&nbsp;&nbsp;&nbsp;Subject to your compliance with this EULA, Pertemps
        grants You a revocable, personal, non-sublicensable, non-exclusive,
        non-transferable license to Use the object code versions of the App and
        the Documentation solely for Your own individual purposes on one
        handheld device on which the App is installed.
      </p>
      <p>
        3.2&nbsp;&nbsp;&nbsp;You must only use the App as provided, in
        machine-readable object code, in accordance with this EULA and all
        applicable laws, rules and regulations.
      </p>
      <p>
        3.3&nbsp;&nbsp;&nbsp;Your right to Use the App begins on the date the
        App is made available for download or installation and continues until
        terminated.
      </p>
      <br />
      <h5>
        <strong>
          4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OWNERSHIP
        </strong>
      </h5>
      <p>
        4.1&nbsp;&nbsp;&nbsp;Except for the limited license rights expressly
        granted in this EULA, Pertemps reserves all rights in and to the App,
        Service and Documentation and any modifications thereto.
      </p>
      <p>
        4.2&nbsp;&nbsp;&nbsp;Pertemps or its licensors retain ownership of all
        intellectual property rights in and to the App, Service and
        Documentation including copies, improvements, enhancements, derivative
        works and modifications thereof. Your rights to Use the App and Service
        are limited to those expressly granted by this EULA. No other rights
        with respect to the App or any related intellectual property rights are
        granted or implied.
      </p>
      <p>
        4.3&nbsp;&nbsp;&nbsp;You acknowledge that You have no right to have Use
        or access the App in source code form other than as expressly provided
        in this License.
      </p>
      <p>
        4.4&nbsp;&nbsp;&nbsp;You undertake to: (a) treat as confidential and
        keep secret all confidential information contained or embodied in the
        App or Services and any confidential information conveyed to you by the
        Documentation, including any information about vacancies or employers;
        (b) effect and maintain adequate security measures to safeguard the App
        from access or use by any unauthorised person. Any breach of this clause
        may result in Your access to the App being suspended or permanently
        terminated in accordance with clause 15.2
      </p>
      <br />
      <h5>
        <strong>
          5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LIMITATIONS TO THE APP AND THE
          SERVICES.
        </strong>
      </h5>
      <p>
        5.1&nbsp;&nbsp;&nbsp;Although we make reasonable efforts to update the
        information provided by the App and the Service, we make no
        representations, warranties or guarantees, whether express or implied,
        that such information is accurate, complete or up to date.
      </p>
      <p>
        5.2&nbsp;&nbsp;&nbsp;Please back-up content and data used with the App.
        We recommend that you back up any content and data used in connection
        with the App, to protect yourself in case of problems with the App or
        the Service.
      </p>
      <p>
        5.3&nbsp;&nbsp;&nbsp;We may update and change the App and its look and
        features from time to time to reflect changes to our products, our
        users' needs and our business priorities. We do not guarantee that the
        App, or any content on it, will always be available or be uninterrupted.
      </p>
      <p>
        5.4&nbsp;&nbsp;&nbsp;We may suspend or withdraw or restrict the
        availability of all or any part of the App for business and operational
        reasons or any other reason without notice to you.
      </p>
      <p>
        5.5&nbsp;&nbsp;&nbsp;We are not responsible for any delays, delivery
        failures, or any other loss or damage resulting from the transfer of
        data over communications networks and facilities, including the internet
        and You acknowledge that access to the internet, mobile phone networks
        or other communication media necessary for the provision of Our Services
        is inherently associated with risks including viruses, data security,
        piracy, availability of services and reliability of data transmission.
        We do not warrant that any of Service or App will be uninterrupted or
        error-free.
      </p>
      <p>
        5.6&nbsp;&nbsp;&nbsp;You agree to release us entirely from any claims,
        disputes, actions or proceedings arising from or connected to your
        interaction with any third party content available via our Services.
      </p>
      <p>
        5.7&nbsp;&nbsp;&nbsp;You acknowledge that your details and any
        application that you make through the App may not be made available to
        our clients where the details You have provided (including in relation
        to Your availability and salary expectations) do not meet an employer’s
        requirements.
      </p>
      <br />
      <h5>
        <strong>
          6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;USER GENERATED CONTENT / UPLOADING
          CONTENT
        </strong>
      </h5>
      <p>
        6.1&nbsp;&nbsp;&nbsp;Whenever you make use of a feature that allows you
        to upload content to our site, or to make contact with other users of
        our Services, you must comply with the content standards set out in our
        Acceptable Use Policy at clause 8. You warrant that your will comply
        with our standards and agree to be liable to us and indemnify us against
        any breach of this warranty.
      </p>
      <p>
        6.2&nbsp;&nbsp;&nbsp;We have the right to remove any content you post on
        our Services if, in our opinion, your post does not comply with the
        content standards set out in our Acceptable Use Policy.
      </p>
      <br />
      <h5>
        <strong>
          7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;USE RESTRICTIONS
        </strong>
      </h5>
      <p>
        7.1&nbsp;&nbsp;&nbsp;To the extent permissible under applicable law, You
        agree not to: (i) decompile, disassemble, decrypt, reverse engineer the
        App or otherwise attempt to derive the source code for the App; (ii)
        modify, adapt or create any derivative works based on the App, Service
        or Documentation; (iii) merge the App with any other App other than as
        expressly set forth in the Documentation; (iv) sell, sublicense, lease,
        rent, loan, assign, convey or otherwise transfer the App, Service or
        Documentation except as expressly authorized by the Agreement or this
        EULA; (v) Use the App on devices other than those that you own and
        control; (vi) copy the App, Service or Documentation, except where such
        copying is incidental to normal Use of the App or where it is necessary
        for the purpose of back-up or operational security; (vii) create any
        software that is in any way competitive with the App; or (viii) provide
        or otherwise make available, the App in any form, in whole or in part
        (including, but not limited to, program listings, object and source
        program listings, object code and source code) to any person without
        prior written consent from us.
      </p>
      <p>
        7.2&nbsp;&nbsp;&nbsp;If you perform any unauthorized processing of
        information on the Services or App that shall be deemed a material
        breach of these terms and conditions which, shall entitle us to
        terminate the Services immediately on notice in writing and in the case
        of infringement of rights, take any appropriate further legal action
        against you.
      </p>
      <br />
      <h5>
        <strong>
          8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ACCEPTABLE USE RESTRICTIONS
        </strong>
      </h5>
      <p>
        You must: (i) not Use the App or any Service in any unlawful manner, for
        any unlawful purpose, or in any manner inconsistent with these terms, or
        act fraudulently or maliciously, for example by hacking into or
        inserting malicious code, such as viruses or harmful or disruptive data,
        into the App, Service or any associated operating system; (ii) not
        infringe Pertemps intellectual property rights or those of any third
        party in relation to Your Use of the App or any Service; (iii) not
        transmit any material that is defamatory offensive or otherwise
        objectionable in relation to your use of the App or any Service; (iv)
        not use the App or any Service in a way that could damage, disable,
        overburden, impair or compromise our systems or security or interfere
        with other users; and (v) not collect or harvest any information or data
        from any Service or Pertemps systems or attempt to decipher any
        transmission to or from the servers running any Service.
      </p>
      <br />
      <h5>
        <strong>
          9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THIRD PARTY AND OPEN SOURCE SOFTWARE
        </strong>
      </h5>
      <p>
        9.1&nbsp;&nbsp;&nbsp;Notwithstanding the terms and conditions of this
        EULA, all or any portion of the App which constitutes non-Pertemps
        software or which is provided under an open source or free software
        license by third parties, is licensed to You subject to the terms and
        conditions of the software license agreement accompanying such software
        accepted by you at the time of download.
      </p>
      <p>
        9.2&nbsp;&nbsp;&nbsp;It is Your responsibility to read and understand
        any such licenses. By accepting these License Terms, You are also
        accepting the terms and conditions of the licenses applicable to any
        third party software included with the App.
      </p>
      <br />
      <h5>
        <strong>
          10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UPGRADES AND UPDATES
        </strong>
      </h5>
      <p>
        10.1&nbsp;&nbsp;&nbsp;From time to time we may automatically update the
        App and change the Service to improve performance, enhance
        functionality, reflect changes to the operating system or address
        security issues. Alternatively we may ask you to update the App for
        these reasons.
      </p>
      <p>
        10.2&nbsp;&nbsp;&nbsp;If you choose not to install such updates or if
        you opt out of automatic updates you may not be able to continue using
        the App and the Services.
      </p>
      <br />
      <h5>
        <strong>
          11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LOCATION DATA
        </strong>
      </h5>
      <p>
        Certain Services, will make use of location data sent from your device.
        You can turn off this functionality at any time by turning off the
        location services settings for the App on the device. If you use these
        Services, you consent to us and our affiliates' and licensees'
        transmission, collection, retention, maintenance, processing and use of
        your location data and queries to provide and improve location-based
        services. You may stop us collecting such data at any time by turning
        off the location services settings.
      </p>
      <br />
      <h5>
        <strong>
          12.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LIMITED WARRANTY AND DISCLAIMER
        </strong>
      </h5>
      <p>
        12.1&nbsp;&nbsp;&nbsp;Pertemps warrants that the App will substantially
        conform to the applicable Documentation for thirty (30) days following
        the date the App is made available to You for Your Use. This warranty
        does not apply if the App has not been used in accordance with this
        agreement or installed, operated, repaired, or maintained other than in
        accordance with instructions supplied by Pertemps.
      </p>
      <p>
        12.2&nbsp;&nbsp;&nbsp;Pertemps will use commercially reasonable efforts
        to deliver to You the App free from any viruses, programs, or
        programming devices designed to modify, delete, damage or disable the
        App or Your data.
      </p>
      <p>
        12.3&nbsp;&nbsp;&nbsp;Except as expressly set forth above, Pertemps and
        its licensors provide the App “as is” and expressly disclaim all
        warranties, conditions or other terms, whether express, implied or
        statutory, including without limitation, warranties, conditions or other
        terms regarding merchantability, fitness for a particular purpose,
        design, condition, capacity, performance, title, and non-infringement.
        Pertemps does not warrant that the App will operate uninterrupted or
        error-free or that all errors will be corrected. In addition, Pertemps
        does not warrant that the App or any equipment, system or network on
        which the App is used will be free of vulnerability to intrusion or
        attack.
      </p>
      <br />
      <h5>
        <strong>
          13.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LIMITATION OF LIABILITY
        </strong>
      </h5>
      <p>
        13.1&nbsp;&nbsp;&nbsp;In no event will Pertemps or its licensors be
        liable for the following, regardless of the theory of liability or
        whether arising out of the use or inability to use the App or otherwise,
        even if a party been advised of the possibility of such damages: (a)
        indirect, incidental, exemplary, special or consequential damages; (b)
        loss or corruption of data or interrupted or loss of business; or (c)
        loss of revenue, profits, goodwill or anticipated sales or savings.
      </p>
      <p>
        13.2&nbsp;&nbsp;&nbsp;We are responsible to you for foreseeable loss and
        damage caused by us. If we fail to comply with these terms, we are
        responsible for loss or damage you suffer that is a foreseeable result
        of our breaking these terms or our failing to use reasonable care and
        skill, but we are not responsible for any loss or damage that is not
        foreseeable.
      </p>
      <p>
        13.3&nbsp;&nbsp;&nbsp;We do not exclude or limit in any way our
        liability to you where it would be unlawful to do so and nothing in this
        Agreement limits or excludes any liability that cannot be limited or
        excluded under applicable law.
      </p>
      <br />
      <h5>
        <strong>
          14.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PERSONAL DATA
        </strong>
      </h5>
      <p>
        We only use any personal data we collect through your use of the App and
        the Services in the ways set out in the Pertemps privacy policy
        <a href="http://www.pertemps-medical.co.uk/legal/privacy-policy/">
          <u>http://www.pertemps-medical.co.uk/legal/privacy-policy/</u> </a
        >. Please be aware that internet transmissions are never completely
        private or secure and that any message or information you send using the
        App or any Service may be read or intercepted by others, even if there
        is a special notice that a particular transmission encrypted.
      </p>
      <br />
      <h5>
        <strong>
          15.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TERMINATION OF LICENCE
        </strong>
      </h5>
      <p>
        15.1&nbsp;&nbsp;&nbsp;If You breach the license limitations or
        restrictions in this EULA and if within ten 10 business days of Your
        receipt of a reasonably detailed written request to cure, You have not
        cured all breaches of license limitations or restrictions, Pertemps may,
        with immediate effect, terminate the licenses granted in this EULA
        without prejudice to any available rights and remedies in contract and
        for infringement.
      </p>
      <p>
        15.2&nbsp;&nbsp;&nbsp;We may terminate this agreement immediately by
        written notice to You for any reason. We may also suspend or permanently
        terminate your access to the App at any time without notice to You if in
        our opinion you have breached the terms of this agreement, the spirit of
        this agreement, or You are engaging in any activity which is damaging or
        potentially damaging to our business or other users, including using any
        information about vacancies or employers that You have access to through
        the App and Services, for reasons other than to apply for vacancies
        through the App and Services.
      </p>
      <p>
        15.3&nbsp;&nbsp;&nbsp;In the event of termination you must immediately
        cease all activities authorised under these terms and immediately delete
        or remove the App and any copies of it from all devices in your control.
        We may remotely access your device and remove the App from your devices
        ourselves at any time.
      </p>
      <br />
      <h5>
        <strong>
          16.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CHANGES TO THESE TERMS
        </strong>
      </h5>
      <p>
        Pertemps may need to change these terms to reflect changes in law or
        best practice or to deal with additional features Pertemps introduce to
        this App or Services. Pertemps will give you at least 10 days’ notice of
        any change by sending you a notification with details of the change or
        notifying you of a change when you next start the App. If you do not
        accept the notified change you will not be permitted to continue to use
        the App and the Service.
      </p>
      <br />
      <h5>
        <strong>
          17.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GENERAL
        </strong>
      </h5>
      <p>
        17.1&nbsp;&nbsp;&nbsp;You shall not, without the prior written consent
        of Pertemps assign, transfer, charge, sub-contract or deal in any other
        manner with all or any of its rights or obligations under this EULA.
      </p>
      <p>
        17.2&nbsp;&nbsp;&nbsp;Pertemps may at any time assign, transfer, charge,
        sub-contract or deal in any other manner with all or any of its rights
        or obligations under this EULA.
      </p>
      <p>
        17.3&nbsp;&nbsp;&nbsp;This EULA does not give rise to any rights under
        the Contracts (Rights of Third Parties) Act 1999 to enforce any term of
        this EULA.
      </p>
      <p>
        17.4&nbsp;&nbsp;&nbsp;If any provision (or part of a provision) of this
        EULA is found by any court or administrative body of competent
        jurisdiction to be invalid, unenforceable or illegal, the other
        provisions shall remain in force. If any invalid, unenforceable or
        illegal provision would be valid, enforceable or legal if some part of
        it were deleted, the provision shall apply with whatever modification is
        necessary to give effect to the commercial intention of the parties.
      </p>
      <p>
        17.5&nbsp;&nbsp;&nbsp;No failure or delay by Pertemps to exercise any
        right or remedy provided under this Agreement or by law shall constitute
        a waiver of that or any other right or remedy, nor shall it prevent or
        restrict the further exercise of that or any other right or remedy. No
        single or partial exercise of such right or remedy shall prevent or
        restrict the further exercise of that or any other right or remedy.
      </p>
      <p>
        17.6&nbsp;&nbsp;&nbsp;Except as expressly provided in this EULA, the
        rights and remedies provided under this EULA are in addition to, and not
        exclusive of, any rights or remedies provided by law.
      </p>
      <br />
      <h5>
        <strong>
          18.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GOVERNING LAW
        </strong>
      </h5>
      <p>
        18.1&nbsp;&nbsp;&nbsp;This Agreement and any disputes or claims arising
        out of or in connection with it or its subject matter or formation
        (including non-contractual disputes or claims) are governed by, and
        construed in accordance with, the laws of England and Wales, without
        reference to its conflict of laws principles.
      </p>
      <p>
        18.2&nbsp;&nbsp;&nbsp;The Parties irrevocably agree that the courts of
        England and Wales have exclusive jurisdiction to settle any dispute or
        claim that arises out of or in connection with this Agreement or its
        subject matter or formation (including non-contractual disputes or
        claims).
      </p>
      <br />
    </div>
  </body>
</html>
