<!DOCTYPE html>
<html lang="en">

<head>
    <title>Help</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<script>
    function displayPage(url) {
        //window.location.href = 
        var completeURL = 'http://' + window.location.hostname + ':' + window.location.port + '/page/' + url;
        window.location.href = completeURL;
    }
</script>

<body>
    <div class="container-fluid">
        <h3 style="text-align: center;">
            <strong>
                <u>Help Menu</u>
            </strong>
        </h3>

        <br />
        <br />

        <p>
            <strong>
                <a href="#" onclick="displayPage('tutorialVideos')">Tutorial Videos</a>
            </strong>
        </p>

        <br>

        <br>

        <p>
            <strong>
                <a href="#" onclick="displayPage('faq')">Frequently Asked Questions</a>
            </strong>
        </p>

        <br>

        <p>
            For further guidance on using Pertemps Live or if you have a question that is not covered in the FAQs or Tutorial Videos,
            please speak to your contact at Pertemps Medical. Our full contact details are below;
        </p>

        <br>

        <p>
            Pertemps Medical Limited
        </p>

        <p>
            Building K1, Timbold Drive
        </p>

        <p>
            Kents Hill Park
        </p>

        <p>
            Milton Keynes
        </p>

        <p>
            Buckinghamshire MK7 6TT
        </p>

        <br>

        <p>
            Tel: 01908 533240
        </p>

        <p>
            Fax: 01908 533241
        </p>

        <p>
            Fax: 01442 892540
            <strong>(timesheets only)</strong>
        </p>

        <p>
            E-mail:
            <a href="mailto:info@pertempsmedical.co.uk">
                <u>info@pertempsmedical.co.uk</u>
            </a>
        </p>

        <p>
            Website:
            <a href="http://www.pertemps-medical.co.uk">
                <u>www.pertemps-medical.co.uk</u>
            </a>
        </p>

        <br>

        <p>
            If you are experiencing a technical issue with Pertemps Live please email:
        </p>

        <br>

        <p>
            <a href="mailto:appsupport@pertempsmedical.co.uk">
                <u>appsupport@pertempsmedical.co.uk</u>
            </a>
        </p>




    </div>
</body>

</html>