extends layout

block content
  app-root

  script(src='/inline.bundle.js')
  script(src='/polyfills.bundle.js')
  script(src='/vendor.bundle.js')
  script(src='/main.bundle.js')
  script(src='/styles.bundle.js')


  