<!DOCTYPE html>
<html lang="en">

<head>
    <title>Marketing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid">

        <p>
            Please let us know if you are happy for Pertemps Medical Limited and other Pertemps Network Group Companies, to send you
            news about events, services or other marketing material that may be of interest to you. Pertemps Medical Limited
            will continue to contact you about job opportunities relevant to your grade & specialty, unless you advise us
            otherwise.
        </p>

        <br />


    </div>

</body>

</html>