doctype html
html(lang="en")
head
  block head
    title Tutorial Videos
    meta(charset="utf-8")
    block styles
      style(type="text/css").
        html,
        body {
          height: 100%;
        }      
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    block scripts
      script(type="text/javascript").
        function displayIframe(url){
          const frame = '<iframe style="margin-right: 1%; margin-left: 1%;" width="98%" height="98%" src="' + url + '?autoplay=0&rel=0&showinfo=0"></iframe>'
          document.getElementById("iframeDisplay").innerHTML = frame;
        }
body
  .container-fluid(style="height: 100%;")
    h3 Tutorial Videos
    each video, index in data
        p
          a(href="#",onclick="displayIframe('#{video.link}')") #{video.title}
    div(id="iframeDisplay",style="height: 100%;")
    br
    br